<html>

<body class= "bg-img">
    
<div class="container">

    <h1 class="h3 mb-3 font-weight-normal text-center">Change Password</h1>

    <div class="card-body" id="card-bodyID" *ngIf="errmessage">
        <span [innerHTML]="errmessage"></span>
    </div>
    <br>

<form class="form" [formGroup]="changePassword_form"  (ngSubmit)="submit()">

    <div class=form-group>
        <input type="password" formControlName="oldPassword" class="form-control" placeholder="Old password">
    </div>
    <br>
    <div class=form-group>
        <input type="password" formControlName="newPassword1" class="form-control" placeholder="New password">
    </div>
    <br>
    <div class=form-group>
        <input type="password" formControlName="newPassword2" class="form-control" placeholder="Repeat new password">
    </div>
    <br>
    <div class="form-group d-flex">
        <button class="btn btn-primary flex-fill">Submit</button></div>
    
    </form>
    <div class="form-group d-flex">
            <button class="btn btn-outline-primary" routerLink="/profile" >&laquo; Go back</button>
    </div>

</div>
</body>

</html>
